@{
    var userName = Context.Session.GetString("UserName");
    var userRole = Context.Session.GetString("UserRole");
    var userID = Context.Session.GetString("UserID");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SAOnlineMart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SAOnlineMart.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SAOnlineMart</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (!string.IsNullOrEmpty(userName))
                        {                       
                            @if (userRole == "Buyer")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="BuyerProducts" asp-action="Index">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="BuyerProducts" asp-action="Cart">Cart</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="BuyerProducts" asp-action="Checkout">Checkout</a>
                                </li>
                            }
                            else if (userRole == "Admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="AdminUsers" asp-action="Index">Manage Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="AdminProducts" asp-action="Index">Manage Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="AdminOrders" asp-action="Index">Manage Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="AdminOrderItems" asp-action="Index">Manage OrderItems</a>
                                </li>
                            }
                            else if (userRole == "Seller")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="SellerProducts" asp-action="Index">My Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="SellerDueOrders" asp-action="Index">Due Orders</a>
                                </li>
                            }

                            <li class="nav-item">
                                <form asp-controller="Users" asp-action="Logout" method="post" class="nav-link text-dark">
                                    <button type="submit" class="btn btn-link">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SAOnlineMart
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
