@model SAOnlineMart.Models.Order

@{
    ViewData["Title"] = "Edit Order";
}

<h1>Edit Order</h1>

<h4>Order</h4>
<hr />
<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="OrderDate" class="control-label"></label>
        <input asp-for="OrderDate" class="form-control" />
        <span asp-validation-for="OrderDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TotalAmount" class="control-label"></label>
        <input asp-for="TotalAmount" class="form-control" />
        <span asp-validation-for="TotalAmount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<a class="btn btn-secondary" asp-controller="AdminOrders" asp-action="Index">Back to List</a>
