@{
    ViewData["Title"] = "Home Page";
    var userName = Context.Session.GetString("UserName");
    var userRole = Context.Session.GetString("UserRole");
}

<div class="text-center">
    <h1 class="display-4">
        @if (!string.IsNullOrEmpty(userName))
        {
            <text>Hello, @userName!</text>
        }
        else
        {
            <text>Hello user. This is SAOnlineMart.</text>
        }
    </h1>
</div>
